<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Strawberry</title>
</head>
<body>
<div id="back"></div>
       <form id="log" action="/" method="post">
 Login: <input type="text" name="login" />

 Password: <input type="password" name="password" />
 <input type="submit" value="Log in" name="log_in" />

 </form>
<a href="/?action=out">Exit</a>

<div id="textdiv"><h1 id="title">Strawberry</h1></div>
<div class="div">
    <div class="mainitem"><h1>Recipes with strawberry:</h1></div>
    <div  class="item"> <a href="recipe1"><h1>Strawberry shortcake</h1></a></div>
    <div class="item"><h1>second</h1></div>
    <div class="item"><h1>third</h1></div>
</div>
<div class="div">
    <div class="mainitem">
        <h1>Recipes with strawberry:</h1>
    </div>
    <div >

    </div>
</div>


</body>
</html>