<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="back"></div>
<div id="ingr"><h2>Ingredients

Strawberries + Whipped Cream


6–7 cups quartered strawberries
1/4 cup + 2 Tablespoons (75g) granulated sugar, divided
1 teaspoon pure vanilla extract
1 cup (240ml) heavy cream</h2></div>
<div id="img"><img src={{url_for('static',filename='cake.jpg')}} width="35%"></div>


</body>
</html>